.false.contact {
    height: auto !important;

    .contact-wrapper {

        margin: 13px;
        margin-top: 50px;
    
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
    
        .box {
            margin: 1px;
    
            margin-bottom: 1px;
            padding: 0px;
            text-align: center;
            
    
            svg {
                width: calc(28% + 14px);
                height: calc(28% + 14px);
            }
    
            a {
                text-decoration: none;
                color: black;
            }
    
            a p {
                margin: 3px;
                font-size: 18px;
                text-align: center;
    
                
                @media only screen and (max-width: 750px) { 
                    font-size: 14px;
                }
    
            }
        }
    }
}

.darkmode.contact {
    height: auto !important;
    background-color: black !important;

    h1 {
        color: white;
    }

    .contact-wrapper {

        margin: 13px;
        margin-top: 50px;
    
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
    
        .box {
            margin: 1px;
    
            margin-bottom: 1px;
            padding: 0px;
            text-align: center;
            
    
            svg {
                width: calc(28% + 14px);
                height: calc(28% + 14px);
            }
    
            a {
                text-decoration: none;
                color: white;
            }
    
            a p {
                margin: 3px;
                font-size: 18px;
                text-align: center;
    
                
                @media only screen and (max-width: 750px) { 
                    font-size: 14px;
                }
    
            }
        }
    }
}

