.contact-wrapper {
    margin: 20px;
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    .box {
        margin: 30px;
        margin-bottom: 1px;
        padding: 10px;
        width: 10vw;
        height: 10vw;
        text-align: center;

        svg {
            width: calc(36% + 25px);
            height: calc(36% + 25px);
        }

        a {
            text-decoration: none;
            color: black;
        }

        a p {
            margin: 3px;
            font-size: large;
        }
    }
}