@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0px;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.app {

    font-family: 'Inter', sans-serif;
    margin: 0;
    
    .sections {
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        position: relative;

        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //firefox
        -ms-overflow-style: none;

        > *{
            width: 100%;
            height: calc(80vh - 70px);
            scroll-snap-align: start;
        }
    }
}

.section-title {
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 0;
}